<div class="event-form">
  <%= simple_form_for @event do |f| %>
  <%= f.input :title, input_html: {autocomplete: 'off'} %>
  <hr style="border-width: 4px;" class="m-0" />
  <%= f.input :location, input_html: {autocomplete: 'off'} %>
  <hr style="border-width: 4px;" class="m-0" />
  <%= f.input :start_time, as: 'string', input_html: {autocomplete: 'off', class: 'picker'} %>
  <hr style="border-width: 4px;" class="m-0" />
  <%= f.input :end_time, as: 'string', input_html: {autocomplete: 'off', class: 'picker'} %>
  <hr style="border-width: 4px;" class="m-0" />
  <%= f.input :description, as: :text, input_html: {autocomplete: 'off', style: 'height: 30vh; padding-right: 1rem;'} %>
  <hr style="border-width: 4px;" class="m-0" />
</div>

<!-- makes sure the last card isn't covered by the bottom btn -->
<div style="height: 115px;"></div>

<div class="bottom-btn">
  <%= f.button :submit, submit_text, class: "submit-btn" %>
</div>
  <% end %>
